@{
    ViewBag.Title = "О нас";
}
<h2>О нас</h2>

<p>Данная библиотека создана в учебных целях студентом ПетрГУ, ФТИ, 4 курса, ИВТ, 21417.</p>
<p>Студент - Шиманский Александр Алексеевич</p>
<p>Преподаватель - Пикулев Виталий Борисович</p>
