@model IEnumerable<study4lab.Models.Book>
@{
    ViewBag.Title = "Библиотека";
}
<style>
    figure {
        text-align: center;
    }
</style>
<figure>
    <h2>Добро пожаловать в Библиотеку!</h2>
    <img src="~/Content/biblioteka.jpg" width="1000" height="510">
</figure>