@model study4lab.Models.Book

@{
    ViewBag.Title = "Подробности";
}

<h2>Подробности</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя автора
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.Name)
        </dd>

        <dt>
            Название книги
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ок", "Index", new { id = Model.Id }) |
    @Html.ActionLink("Bернуться назад", "Index")
</p>
